h1 {
    background-color: pink;
}
#t1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#t2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


html {
    background-image: url(https://sm.ign.com/ign_br/photo/default/shrek-the-third-1680652443592_snrx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px;
}

.vermelho{
    color: brown;
}

.azul{
    font-size: xx-large;
}